body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
   
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

header{
    background: #353637;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #32a0c2 5px solid;
}

header a {
    color: #f4f4f4;
    text-decoration: none;
    font-size: 19px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #brand h1 {
    margin: 0;
    color: #79c5f1;
}

header nav{
  float: right;
    margin-top: 10px;
}

header .current a
{
    color: aqua;
    font-weight: bold;
}

header a:hover {
    color: blue;
    font-weight: bold;

}

#showcase {
    min-height: 400px;
    background: url("./m.jpeg") no-repeat center;
    background-size: cover;
}

#newsletter{
    padding: 15px;
    color: wheat;
    background: rgb(31, 30, 30);
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input [ type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

.button{
    height: 22px;
    background: #cccccc;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(95, 95, 250);
}

#boxes
{
margin-top: px;
}
#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: cornsilk;
    background-color: darkcyan;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}


@media(max-width:768px) 
{
    header #brand,
    header nav ,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxws .box {
float: none;
text-align: center;
width: 100%;
    }

header 
{
    padding-bottom:20px ;
}

#newsletter .button
{
    display:block;
    width: 100%;

}
#newsletter form input [ type="email"]
{
    width: 100%;
    margin-bottom: 5px;
}
}